.jumbotron{
    padding: 2%;
    margin-top: 25px;
}
h3{
    font-family: 'Courier New', Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
    font-size: 56px;
    background-color: bisque;
}
h5{
    font-family: fantasy;
    font-size: 35px;
    color: turquoise;
}
