<br>
<div class="container-fluid">
    <div class="form-group">
        <div class="row">
            <div class="col-md-7" style="margin-right: 30vh">
                <input type="text" class="form-control" placeholder="Search Github username" [(ngModel)]="username"
                    name="username">
            </div>
            <button class="btn btn-primary" (click)=getRepo() (click)=getUser()>SEARCH</button>
        </div>
    </div> <br>
    <div class="row">
        <div class="col-md-5">
            <img src="{{user.avatar_url}}" class="rounded-circle z-depth-2" style="width: 60vh;"
                data-holder-rendered="true" alt=""> <br> <br>

            <p>
                <span class="badge badge-pill badge-secondary">Public Repositories: {{user.public_repos}}</span>
                <span class="badge badge-pill badge-success">Following: {{user.following}}</span><br>
                <span class="badge badge-pill badge-default">Followers: {{user.followers}}</span><br>
            </p>
            <p><a href="{{user.html_url}}" target="_blank" class="btn btn-danger btn-rounded">View Profile On Github</a>
            </p>

            <h5>
                username: <strong>{{user.login}}</strong>
            </h5>
            <h5> Bio Data: <strong>{{user.bio|upperCase}}</strong></h5>
            <h5 appTextColourChange> Member since: <strong>{{user.created_at|date}}</strong></h5>
        </div>

    
    </div>
</div>