/* You can add global styles to this file, and also import other style files */
@import "~bootstrap/dist/css/bootstrap.css";
body{
    background-image: url('https://www.houseofbots.com/images/news/2351/cover.png');
    background-size: cover;
}
.jum{
    color: black;
}
.p{
    color: aqua;
    text-align: center;
}